<div id="{{ buttons_id }}" class="flex space-x-2">
    <button
    title="Add to Watched"
    class="bg-[#284370] hover:bg-[#265d7a] text-white font-semibold py-1 px-4 rounded-lg transition duration-200
    ease-in-out font-sans"
    hx-get="/tv/info/{{ tv_id }}"
    hx-vals='{"buttons_id": "{{ buttons_id }}"}'
    hx-target="body"
    hx-swap=" beforeend">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="32" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <rect x="8" y="2" width="8" height="4" rx="1" ry="1"/>
          <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/>
          <path d="M12 11v6"/>
          <path d="M9 14h6"/>
        </svg>
    </button>
    <button
    title="Add to Watchlist"
    class="bg-[#23486b] hover:bg-[#265d7a] text-white font-semibold py-1 px-4 rounded-lg transition duration-200
    ease-in-out font-sans"
    hx-post="/tv/add_watchlist"
    hx-vals='{"tv_data": {{ tv_data | tojson }}, "buttons_id": {"buttons_id": "{{ buttons_id }}" } }'
    hx-ext='json-enc'
    hx-target="closest #{{ buttons_id }}"
    hx-swap="outerHTML"
    >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="32" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"/>
        </svg>
    </button>
</div>