<div id="watchlist_page_items_content" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-4">
    {% for content in watchlist_content %}
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <img
                src="/proxy/image/w200{{ content.poster_path }}"
                alt="{{ content.title }}"
                class="w-full h-80 object-contain bg-gray-200"
                onclick="window.location.href='/{{ content.media_type }}/page/{{ content.id }}'"
            >
            <div class="p-2">
                <h2 class="text-sm font-semibold text-gray-800 truncate">{{ content.title }}{{ content.name }}</h2>
                <div class="flex justify-between text-xs text-gray-600">
                    {% if content.release_date %}
                        <p class="text-md text-gray-300 mb-2">{{ content.release_date[0:4] }}</p>
                    {% elif content.first_air_date %}
                        <p class="text-md text-gray-300 mb-2">{{ content.first_air_date[0:4] }}</p>
                    {% endif %}
                    <span>⭐ {{ content.vote_average }}</span>
                    <span>{{ content.media_type }}</span>
                </div>
                {{ content.buttons | safe }}
            </div>
        </div>
    {% endfor %}
</div>

<div
hx-swap-oob="outerHTML:#bottom-trigger"
id="bottom-trigger"
hx-get="/home/watchlist_page_items"
hx-vals='{"offset": {{ offset }}, "limit": {{ limit }}}'
hx-trigger="intersect once threshold:0.5"
hx-target="#watchlist_page_items"
hx-swap="beforeend"
hx-indicator="#bottom-indicator">
<span id="bottom-indicator" class="htmx-indicator">Loading...</span>
</div>